body {
    font-family: "Noto Serif Yezidi", serif;
  font-optical-sizing: auto;
  font-style: normal;
    background: url('dna-3539309.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(44, 62, 80, 0.85);
    /* blago transparentno */
    backdrop-filter: blur(10px);
    /* stakleni efekt */
    color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header h1 {
    margin: 0;
    font-size: 46px;
    letter-spacing: 1px;

    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-right label {
    font-weight: 500;
    color: #f0f0f0;
    margin-bottom: 12px;
}

.header-right select {
    padding: 6px 10px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.1);
    color:#e0e0e0;
    cursor: pointer;
}

.header-right select:hover,
.header-right select:focus {
    background: rgba(255, 255, 255, 0.2);
    outline: none;
}

/* FOOTER */
.footer {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    background: rgba(44, 62, 80, 0.85);
    backdrop-filter: blur(10px);
    color: #fff;
    margin-top: 40px;
    font-size: 14px;
    letter-spacing: 0.5px;
    box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.container {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card {
    background: rgba(255, 255, 255, 0.97);
    padding: 35px 30px;
    border-radius: 18px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.18);
}

h2 {
    margin-bottom: 25px;
    color: #2c3e50;
    text-align: center;

    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

label {
    display: block;
    margin-top: 18px;
    font-weight: 500;
    font-size: 20px;
    color: #2c3e50;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    box-sizing: border-box;
}


input:focus,
select:focus {
    outline: none;
    border-color: #2575fc;
    box-shadow: 0 0 8px rgba(37, 117, 252, 0.3);
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    border: none;
    border-radius: 12px;
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.result {
    margin-top: 20px;
    background: #f2f4f8;
    padding: 20px;
    border-radius: 12px;
    font-size: 16px;
}